[submodule "pack/gruvbox/start/gruvbox"]
	path = pack/gruvbox/start/gruvbox
	url = https://github.com/morhetz/gruvbox/
[submodule "pack/lightline.vim/start/lightline.vim"]
	path = pack/lightline.vim/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "pack/LargeFile/start/LargeFile"]
	path = pack/LargeFile/start/LargeFile
	url = https://github.com/vim-scripts/LargeFile
	ignore = untracked
[submodule "pack/nerdtree/start/nerdtree"]
	path = pack/nerdtree/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "pack/vim-fugitive/start/vim-fugitive"]
	path = pack/vim-fugitive/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/vim-man/start/vim-man"]
	path = pack/vim-man/start/vim-man
	url = https://github.com/vim-utils/vim-man
[submodule "pack/vim-tmux-navigator/start/vim-tmux-navigator"]
	path = pack/vim-tmux-navigator/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "pack/vim-quickui/start/vim-quickui"]
	path = pack/vim-quickui/start/vim-quickui
	url = https://github.com/skywind3000/vim-quickui
[submodule "pack/vim-dispatch/start/vim-dispatch"]
	path = pack/vim-dispatch/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "pack/hexmode/start/hexmode"]
	path = pack/hexmode/start/hexmode
	url = https://github.com/fidian/hexmode
[submodule "pack/roarie-commands.vim/start/roarie-commands.vim"]
	path = pack/roarie-commands.vim/start/roarie-commands.vim
	url = https://github.com/lalbornoz/roarie-commands.vim
[submodule "pack/roarie-startup.vim/start/roarie-startup.vim"]
	path = pack/roarie-startup.vim/start/roarie-startup.vim
	url = https://github.com/lalbornoz/roarie-startup.vim
[submodule "pack/fzf/start/fzf"]
	path = pack/fzf/start/fzf
	url = https://github.com/junegunn/fzf
[submodule "pack/fzf.vim/start/fzf.vim"]
	path = pack/fzf.vim/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "pack/vim-polyglot/start/vim-polyglot"]
	path = pack/vim-polyglot/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "pack/Colorizer/start/Colorizer"]
	path = pack/Colorizer/start/Colorizer
	url = https://github.com/chrisbra/Colorizer
[submodule "pack/lsp/start/lsp"]
	path = pack/lsp/start/lsp
	url = https://github.com/yegappan/lsp
