[submodule "bundle/async.vim"]
	path = bundle/async.vim
	url = https://github.com/prabirshrestha/async.vim
[submodule "bundle/gruvbox"]
	path = bundle/gruvbox
	url = https://github.com/morhetz/gruvbox/
[submodule "bundle/lightline.vim"]
	path = bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "bundle/LargeFile"]
	path = bundle/LargeFile
	url = https://github.com/lalbornoz/LargeFile
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/vim-lsp-settings"]
	path = bundle/vim-lsp-settings
	url = https://github.com/mattn/vim-lsp-settings
[submodule "bundle/vim-man"]
	path = bundle/vim-man
	url = https://github.com/vim-utils/vim-man
[submodule "bundle/vim-tmux-navigator"]
	path = bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "bundle/vim-quickui"]
	path = bundle/vim-quickui
	url = https://github.com/skywind3000/vim-quickui
[submodule "bundle/vim-lsp"]
	path = bundle/vim-lsp
	url = https://github.com/lalbornoz/vim-lsp
[submodule "bundle/vim-greppie"]
	path = bundle/vim-greppie
	url = https://github.com/lalbornoz/vim-greppie
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "bundle/hexmode"]
	path = bundle/hexmode
	url = https://github.com/fidian/hexmode
[submodule "bundle/roarie-commands.vim"]
	path = bundle/roarie-commands.vim
	url = https://github.com/lalbornoz/roarie-commands.vim
[submodule "bundle/roarie-startup.vim"]
	path = bundle/roarie-startup.vim
	url = https://github.com/lalbornoz/roarie-startup.vim
[submodule "bundle/vim-rhubarb"]
	path = bundle/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb
